<div class="h-full flex flex-col">
  <div class="mb-4 md:mb-8">
    <h1 class="text-2xl md:text-4xl font-bold text-gray-800 mb-2">Mis Viajes</h1>
    <p class="text-gray-600">Planifica y organiza tus próximas aventuras</p>
  </div>
  @if (!trips().length) {
    <div class="flex flex-col items-center justify-center py-20">
      <div class="w-32 h-32 mb-8 rounded-full bg-indigo-100 flex items-center justify-center">
        <i class="pi pi-map-marker text-indigo-400" style="font-size: 4rem"></i>
      </div>
      <h2 class="text-xl md:text-3xl font-bold text-gray-800 mb-3">Comienza a planear tu próxima aventura</h2>
      <p class="text-gray-600 mb-8 text-center max-w-md">
        Crea tu primer viaje y organiza todos los detalles en un solo lugar
      </p>
      <p-button
        label="Crear mi primer viaje"
        icon="pi pi-plus"
        routerLink="./../trips/new"
        styleClass="p-button-lg"
      >
      </p-button>
    </div>
  } @else{
    <app-trips-timeline [trips]="trips()" />
  }
</div>
