<form [formGroup]="form" class="flex-1 px-12 pb-6">
  <div class="mb-8">
    <label for="name" class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
      >Nombre del viaje:</label
    >
    <input
      pInputText
      id="name"
      type="text"
      formControlName="name"
      placeholder="Ej: Expedición Asia 2025"
      class="w-full px-4 py-3 rounded-lg border bg-white border-gray-100 outline-none focus:ring-2 focus:ring-transparent focus:border-green-600 transition-all text-gray-900 placeholder-gray-400"
      aria-describedby="name-help"
    />
    <small id="name-help" class="block mt-2 text-xs text-gray-500 pl-2">
      Utiliza un nombre descriptivo y memorable
    </small>
  </div>

  <div class="mb-6">
    <div class="flex gap-3 items-center">
      <label
        for="destination"
        class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
        >Destino principal:</label
      >

      @if (destinationName(); as name) {
      <p class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide">
        {{ name }}
      </p>
      }
    </div>

    <div class="gap-3 mb-4">
      <p-inputgroup class="relative">
        <input
          #searchInput
          pInputText
          id="destination"
          type="text"
          [disabled]="isSearching()"
          placeholder="Buscar ciudad o país..."
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all outline-none pr-12"
        />
        <p-inputgroup-addon>
          <p-button
            (click)="searchLocation(searchInput.value)"
            [disabled]="!searchInput.value"
            icon="pi pi-search"
            severity="secondary"
            [loading]="isSearching()"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
      @if(!isSearching() && form.errors?.['notFound']){
      <p-message severity="error" size="small" variant="simple"
        >No se han encontrado resultados para esa ubicación</p-message
      >}
    </div>

    <div class="rounded overflow-hidden border border-gray-300">
      <app-map
        #mapRef
        [config]="{
          mode: 'select-location',
          height: '280px',
          zoom: 6
        }"
        (locationSelected)="onMapLocationSelected($event)"
      >
      </app-map>
    </div>

    <small class="block mt-2 text-xs text-gray-500">
      Utiliza el buscador o selecciona directamente en el mapa
    </small>
  </div>
</form>
