<form #ngForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-8">
    <label for="name" class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
      >Nombre del viaje:</label
    >
    <input
      pInputText
      id="name"
      type="text"
      formControlName="name"
      placeholder="Ej: Expedición Asia 2025"
      class="w-full px-4 py-3 rounded-lg border bg-white border-gray-100 outline-none focus:ring-2 focus:ring-transparent focus:border-green-600 transition-all text-gray-900 placeholder-gray-400"
      aria-describedby="name-help"
    />
    @if(form.controls['name'].touched && form.controls['name'].errors?.['required']){
    <p-message severity="error" size="small" variant="simple"
      >El nombre del viaje es requerido</p-message
    >
    }
    <small id="name-help" class="block mt-2 text-xs text-gray-500 pl-2">
      Utiliza un nombre descriptivo y memorable
    </small>
  </div>

  <div class="mb-6">
    <div class="flex gap-3 items-center">
      <label
        for="destination"
        class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
        >Destino principal:</label
      >

      <p class="block text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide">
        {{ destinationName() }}
      </p>
    </div>

    <div class="gap-3 mb-4">
      <p-inputgroup class="relative">
        <input
          #searchInput
          pInputText
          id="destination"
          type="text"
          [disabled]="isSearching() || isLoading()"
          placeholder="Buscar ciudad o país..."
          class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all outline-none pr-12"
        />
        <p-inputgroup-addon>
          <p-button
            (click)="searchLocation(searchInput.value)"
            [disabled]="!searchInput.value || isLoading()"
            icon="pi pi-search"
            severity="secondary"
            [loading]="isSearching()"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
      @if(!isSearching() && form.errors?.['notFound']){
      <p-message severity="error" size="small" variant="simple"
        >No se han encontrado resultados para esa ubicación</p-message
      >}
    </div>

    <div class="rounded overflow-hidden border border-gray-300">
      <app-map
        #mapRef
        [config]="{
          mode: 'select-location',
          height: '280px',
          zoom: 6
        }"
        [disabled]="isSearching() || isLoading()"
        (locationSelected)="onMapLocationSelected($event)"
      >
      </app-map>
    </div>

    <small class="block mt-2 text-xs text-gray-500">
      Utiliza el buscador o selecciona directamente en el mapa
    </small>
  </div>
  <!-- Fechas -->
  <div formGroupName="dates" class="grid grid-cols-1 md:grid-cols-2 gap-6 my-8">
    <div>
      <label
        for="startDate"
        class="flex justify-center text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
      >
        Fecha de inicio
      </label>
      <div class="card flex justify-center">
        <p-datepicker
          id="startDate"
          class="max-w-full py-4"
          formControlName="startDate"
          [inline]="true"
          [showWeek]="true"
          [minDate]="today"
        />
      </div>
    </div>

    <div>
      <label
        for="endDate"
        class="flex justify-center text-xs font-semibold text-gray-900 mb-2 uppercase tracking-wide"
      >
        Fecha de finalización
      </label>
      <div class="card flex justify-center">
        <p-datepicker
          id="endDate"
          class="max-w-full py-4"
          formControlName="endDate"
          [inline]="true"
          [showWeek]="true"
          [minDate]="today"
        />
      </div>
      @if(form.controls.dates.errors?.['endDateMustBeAfterStartDate']){
      <p-message severity="error" size="small" variant="simple"
        >La fecha de finalización debe ser posterior a la fecha de inicio</p-message
      >}
    </div>
  </div>

  <div
    class="flex min-h-20 p-5 items-center gap-6 bg-gray-50 border border-gray-300 rounded-xl mb-6"
  >
    <span class="text-xs lg:text-md font-normal text-gray-900 uppercase tracking-wide">
      Duración del viaje:
    </span>
    <p class="text-md lg:text-xl font-medium text-gray-900 m-0">
      {{ tripDuration() < 0 ? '-' : tripDuration() }} días
    </p>
  </div>
  <p-button
    label="{{ trip()?.id ? 'Editar' : 'Crear' }} viaje"
    type="submit"
    styleClass="mb-8 w-full"
    [raised]="true"
    [disabled]="form.invalid || isLoading()"
  ></p-button>
</form>
