<div class="h-full flex flex-col justify-center">
  <div class="flex flex-col justify-center flex-1">
    <h1 class="text-3xl sm:text-5xl font-semibold text-gray-900 mb-5 tracking-tight text-center">
      ¡Bienvenido a tu nueva aventura!
    </h1>
    <p
      class="text-base sm:text-xl text-gray-600 mb-14 font-light text-center max-w-2xl mx-auto text-balance"
    >
      Prepárate para organizar tu siguiente gran viaje.<br />
      Te guiaremos paso a paso para que no se te escape ningún detalle.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-2xl mb-12 mx-auto">
      <div class="p-5 border border-gray-200 rounded-xl bg-white">
        <h3 class="text-sm font-semibold text-gray-900 mb-1 uppercase tracking-wide">
          Planificación
        </h3>
        <p class="text-sm text-gray-600">Diseña tu itinerario y rutas</p>
      </div>
      <div class="p-5 border border-gray-200 rounded-xl bg-white">
        <h3 class="text-sm font-semibold text-gray-900 mb-1 uppercase tracking-wide">
          Presupuesto
        </h3>
        <p class="text-sm text-gray-600">Control total de gastos compartidos</p>
      </div>
      <div class="p-5 border border-gray-200 rounded-xl bg-white">
        <h3 class="text-sm font-semibold text-gray-900 mb-1 uppercase tracking-wide">
          Colaboración
        </h3>
        <p class="text-sm text-gray-600">Invita y gestiona participantes</p>
      </div>
      <div class="p-5 border border-gray-200 rounded-xl bg-white">
        <h3 class="text-sm font-semibold text-gray-900 mb-1 uppercase tracking-wide">
          Documentación
        </h3>
        <p class="text-sm text-gray-600">Almacena archivos importantes</p>
      </div>
    </div>

    <p class="text-base text-gray-900 font-medium text-center mb-6 sm:pt-4">
      ¡Empecemos creando tu primer viaje!
    </p>
  </div>
  <div
    class="flex justify-center sm:justify-end items-center py-4 sm:px-12 sm:py-6 mt-auto border-t border-gray-200 shrink-0"
  >
    <p-button (click)="next()">Comenzar</p-button>
  </div>
</div>
