<div
  class="flex flex-col rounded-lg shadow-xl w-full h-[70vh] bg-gray-300/30 backdrop-blur-md border border-white relative z-10"
  (click)="$event.stopPropagation()"
>
  <!-- Header: progreso + botón cerrar -->
  <div class="flex items-center justify-between px-8 pt-8 pb-6 shrink-0">
    <div class="w-8"></div>

    <!-- Indicador de progreso -->
    <div class="flex justify-center gap-2">
      @for (step of steps(); track step.id) {
        <div
          class="h-1 transition-all duration-300 rounded-full w-8"
          [ngClass]="{
            'w-12 bg-black': step.id === currentStep(),
            'bg-gray-200': step.id !== currentStep(),
            'bg-green-600': step.completed,
          }"
        ></div>
      }
    </div>

    <!-- Botón cerrar -->
    <p-button
      type="button"
      icon="pi pi-times"
      [rounded]="true"
      [text]="true"
      (click)="dismiss()"
    ></p-button>
  </div>
  <router-outlet></router-outlet>
</div>
